ul{
     color: #2dd881;
    font-size: 18px;
    margin-right: 100px;
    margin-left: 100px;
    padding-right: 100px;
    padding-left: 100px;
    font-family: 'Alegreya', serif;
     padding: 10px;
}
h1{
    font-family: 'Artifika', cursive; 
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFFCFC;
    font-size: 50px;
}
#me{
    color: #6fedb7;
}
h1{
    color: #6fedb7;
}
article{
     padding: 20px;
     margin: 0 auto;
    color: #6fedb7;
    font-family: 'Indie Flower', cursive;
   font-family: 'Italianno', cursive;
}
.guitar {
    border: solid white;
    margin-right: 100px;
    margin-left: 100px;
}
h2, h3, h4{
    padding-right: 100px;
    padding-left: 100px;
    color: #6fedb7;
}

body{
    background-color: #1c0b19;
     margint-top: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
}
li {
    padding: 0px 10px 0px 10px;
     display: inline;
}
header {
    text-align: center;
    background: url("images/beach.jpg");
    background-size: cover;
    padding: 20px 0px 0px 0px;
    }
.header {
    border: 7px solid white;
    margin: 40px 0px 0px 0px;
}
p{
    color: #2dd881;
    font-size: 18px;
    font-family: 'Alegreya', serif;
}

footer{
    color: #E63946
}
.Andrew {
    border: solid white;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 11px 12px;
    border: 1px solid #2dd880;
    border-radius: 9px;
    background: #1c0b19;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c0b19), to(#4ea699));
    background: -moz-linear-gradient(top, #1c0b19, #4ea699);
    background: linear-gradient(to bottom, #1c0b19, #4ea699);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 15px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #34f893;
    background: #220d1e;
    background: -webkit-gradient(linear, left top, left bottom, from(#220d1e), to(#5ec7b8));
    background: -moz-linear-gradient(top, #220d1e, #5ec7b8);
    background: linear-gradient(to bottom, #220d1e, #5ec7b8);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #11070f;
    background: -webkit-gradient(linear, left top, left bottom, from(#11070f), to(#4ea699));
    background: -moz-linear-gradient(top, #11070f, #4ea699);
    background: linear-gradient(to bottom, #11070f, #4ea699);
}
#curriculum {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #FFFFFF;
}

#curriculum td, #curriculum th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #FFFFFF;
}
